

  <div class="container">
    <div class="row">
      <div class="col-sm-2"><label>Voter ID</label></div>
      <div class="col-sm-2"><input type="text" disabled="disabled" id="voterId" placeholder="VoterId" /></div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-2"><label>Name</label></div>
      <div class="col-sm-2"><input type="text" id="voterName" /></div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-2"><label>Address</label></div>
      <div class="col-sm-4"><input type="text" id="voterAddress" /></div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-2"><label>Zip Code</label></div>
      <div class="col-sm-2"><input type="text" id="voterZip" /></div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-2"><label>SSN</label></div>
      <div class="col-sm-2"><input type="text" id="voterSsn" /></div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-2"><label>Phone</label></div>
      <div class="col-sm-2"><input type="tel" id="voterPhone" /></div>
    </div>
    <br />
  </div>
<button type="submit" class="btn btn-primary">Submit</button>
